@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Barcelona<br />
    <br />
    <abbr title="Phone">P:</abbr>
    +34.665315741
</address>

<address>
    <strong>Support:</strong> <a href="mailto:stebri123@gmail.com">stebri123@gmail.com</a><br />
</address>
